img{
    width: 250px;
    height: 250px;
}
.poke__cards{
    width: 280px;
    border-color: black;
    border-style: solid;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 2%;
    color: rgb(216, 83, 83);
}
.container__pokemons{
    margin-top: 20vh;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card__name{
    display: flex;
    justify-content: center;
    font-size: 29px;
}
.card__ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    margin-top: 20px;
}

.card__stats {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    justify-content: center;
    justify-items: center;
}
.poke__card__ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
    justify-items: center;
}
.card__number{
    align-content: center;
    font-size: 22px;
}
.card__names{
    color: rgb(155, 152, 152);
    font-size: 14px;
    font-weight: 500 !important;
}
.poke__cards:hover{
    transform: scale(1.1);
    filter: brightness(1.15);
}
